*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, cyan 0%,rgb(0,174,255) 100%);
}

.container{
    width:100%;
    margin: 10em auto;
    max-width: 23em;
    background-color: #fff;
    padding: 2em;
    box-shadow: -3px -3px 7px rgb(17,228,228),
                3px 3px 5px #5ac6da;
}

.container .header{
    font-size: 2em;
    font-weight: 600;
}

.container  .inputfield{
    display: flex;
    width: 100%;
    height: 3.5em;
    margin: 1.5em 0;
}


.inputfield input{
    width: 90%;
    height: 100%;
    border: .1em solid #ccc;
    font-size: 1em;
    border-radius: .2em;
    padding-left: 1em;
    outline: none;
}


.inputfield button{
    width: 2.2em;
    height: 100%;
    border: none;
    outline: none;
    background: violet;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    border-radius: .2em;
    margin-left: 5px;

    opacity: 0.6;
    pointer-events: none;
}


.inputfield button.active{
    opacity: 1;
    pointer-events: auto;
}


.todolist li{
    position: relative;
    list-style: none;
    height: 45px;
    line-height: 45px;
    background: #80808033;
    border-radius: .2em;
    margin-bottom: .5em;
    padding: 0 1em;
    cursor: pointer;
    overflow: hidden;
}

.todolist li span{
    position: absolute;
    right: -35em;
    width: 3em;
    color: #fff;
    background-color: red;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
}

.todolist li:hover span{
    right: 0;
}


.footer button{
    border: none;
    outline: none;
    background: violet;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin-top: 1em;
    padding: .5em 1.2em;
}